.titulo {
    border: 3px solid #0070f3;
    letter-spacing: 2px;
    font-size:12px;
    padding: 2rem;
    width: 40%;
    margin: 5px auto;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
  }

  .titulo p{
    color: #6959CD;
  }
  .titulo img{
    width: 5cm;
    height: 5cm;
  }

  .container{
    align-items: center;
    max-width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    text-align: center;
  }
